.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 8rem 2rem 2rem 2rem;

  .profile {
    width: 90%;
    max-width: 400px;
    margin-bottom: 2rem;
    border-radius: 10px;
  
    animation: background-effect 3s infinite;
  }

  .head-info {
    margin-bottom: 3rem;

    h1 {
      font-size: 2rem;
    }

    h2 {
      padding-left: 1rem;
      color: #00d800;
      font-weight: 900;
    }
  }

  .description {
    display: flex;
    align-items: center;

    .icons-container {
      display: flex;
      flex-direction: column;

      img {
        margin-right: 1rem;
        padding-left: 1rem;
      }
    }

    p {
      font-size: 1rem;

      span {
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 1024px) {
  .nosotros {
    padding: 6rem 8rem 4rem 8rem;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;

    .profile {
      width: 300px;
    }

    .head-info {
      margin-bottom: 1rem;
  
      h1 {
        font-size: 2rem;
      }
  
      h2 {
        padding-left: 1rem;
        color: #00d800;
        font-size: 1.5rem;
        font-weight: 900;
      }
    }

    .left-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10rem;

      .profile {
        width: 500px;
      }
    }

    .description {
      align-self: flex-start;
      padding-top: 5rem;

      img {
        margin-right: 2rem;
        padding-left: 1rem;
      }
  
      p {
        font-size: 1rem;
  
        span {
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes background-effect {
  0% {
    background-color: transparent;
  }
  
  50% {
    background-color: hsla(120, 100%, 42%, 0.1);
    box-shadow: 0 0 100px hsla(120, 100%, 42%, 0.25);
  }

  100% {
    background-color: transparent;
  }
}